util/*.aux
util/*.pdf
*.tex
stats/*

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
.texpadtmp
nosetests.xml
coverage.xml
*,cover
*.log
.git
*.egg-info

*.tar
.idea
.DS_Store

dist/
build/
